<ion-header [translucent]="true">
  <ion-toolbar class="atas">
    <div class="header">
      <a [routerLink]="['/bantuan']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="judul">
    <h1 class="bijak">Kebijakan dan Syarat</h1><br>
    <h1 class="guna">Penggunaan Aplikasi Glusambinchole</h1>
  </div>
  <div class="paragraf">
    <p>
      1. Ketentuan Umum Dengan menggunakan aplikasi Gulcosense, 
      Anda setuju untuk mematuhi dan terikat oleh syarat dan ketentuan yang tercantum dalam dokumen ini.
       Jika Anda tidak setuju dengan syarat ini, harap tidak menggunakan aplikasi ini.
    </p>
  </div>
  <div class="paragraf">
    <p>
      2. Penggunaan Aplikasi Aplikasi Gulcosense hanya diperuntukkan bagi pengguna yang ingin memantau kadar glukosa, 
      kolesterol, asam urat, dan hemoglobin mereka. Anda setuju untuk tidak menggunakan aplikasi ini untuk tujuan yang melanggar hukum atau tidak etis. Penggunaan aplikasi untuk diagnosa 
      atau pengobatan mandiri tidak dianjurkan tanpa konsultasi dengan tenaga medis profesional.
    </p>
  </div>
  <div class="paragraf">
    <p>
      3. Pengumpulan dan Penggunaan Data Pribadi Gulcosense mengumpulkan data pribadi, 
      termasuk informasi kesehatan Anda seperti kadar glukosa, kolesterol, asam urat, dan hemoglobin yang diukur melalui aplikasi. Data ini akan digunakan untuk memberikan laporan kesehatan Anda 
      dan membantu dalam analisis yang lebih mendalam terkait kondisi kesehatan Anda.
    </p>
  </div>
  <div class="paragraf">
    <p>
      4. Keamanan Data Kami menerapkan langkah-langkah teknis dan organisasi yang memadai untuk melindungi data Anda dari akses yang tidak sah, kebocoran, atau penyalahgunaan. 
      Namun, kami tidak dapat memberikan jaminan penuh bahwa data Anda tidak akan terganggu akibat serangan siber atau pelanggaran keamanan.
    </p>
  </div>
  <div class="paragraf">
    <p>
      5. Pembatasan Tanggung Jawab Gulcosense tidak bertanggung jawab atas kerusakan atau kerugian yang diakibatkan oleh penggunaan aplikasi ini,
       termasuk namun tidak terbatas pada ketidakakuratan hasil pengukuran atau kegagalan perangkat keras. 
      Aplikasi ini dirancang untuk membantu pemantauan kondisi kesehatan, tetapi tidak menggantikan konsultasi medis profesional.
    </p>
  </div>
  <div class="paragraf">
    <p>
      6. Pengungkapan kepada Pihak Ketiga Data kesehatan Anda tidak akan dibagikan kepada pihak ketiga kecuali diizinkan oleh Anda secara eksplisit, atau sebagaimana diwajibkan oleh hukum. 
      Kami dapat bekerja sama dengan penyedia layanan pihak ketiga untuk analisis data, namun mereka terikat oleh ketentuan kerahasiaan yang ketat.
    </p>
  </div>
  <div class="paragraf">
    <p>
      7. Pembatalan dan Penangguhan Akun Kami berhak untuk menangguhkan atau membatalkan akun Anda jika kami menemukan bahwa 
      Anda melanggar ketentuan penggunaan ini atau menggunakan aplikasi untuk tujuan yang tidak sah. 
      Anda dapat kapan saja mengajukan permintaan untuk menutup akun dan menghapus data Anda dari sistem kami.
    </p>
  </div>
  <div class="paragraf">
    <p>
      8. Perubahan Ketentuan Kami dapat mengubah kebijakan ini sewaktu-waktu. 
      Setiap perubahan akan diberitahukan melalui aplikasi, dan Anda diharapkan untuk memeriksa pembaruan kebijakan secara berkala.
       Penggunaan berkelanjutan atas aplikasi setelah perubahan kebijakan berarti Anda menyetujui perubahan tersebut.
    </p>
  </div>
  <div class="paragraf">
    <p>
      9. Hukum yang Berlaku Kebijakan ini diatur oleh hukum yang berlaku di Indonesia, 
      dan setiap sengketa yang timbul dari penggunaan aplikasi ini akan diselesaikan sesuai dengan yurisdiksi hukum tersebut.
    </p>
  </div>
  <div class="paragraf">
    <p>
      10. Kontak Jika Anda memiliki pertanyaan terkait kebijakan ini atau penggunaan aplikasi, Anda dapat menghubungi kami di:
    </p>
  </div>
</ion-content>
