ion-content{
    font-family: 'Poppins','sans-serrif';
  }
  
  ion-card{
    box-shadow: none;
  }
  
    .baratas{
      box-shadow: none;
  }
  
  .custom-icon {
      padding-top: 20px;
      padding-inline: 10px;
      font-size: 24px; /* Ukuran ikon yang diinginkan */
      height: 40px; /* Tinggi ikon */
      width: 45px; /* Lebar ikon */
      color: black;
  }
  
  
  .history-container {
    padding: 1rem;
    box-shadow: 6px 6px 6px rgba(0, 0.2, 0, 0.5);
    border-radius: 30px;
  }
  
  .history-list {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 1rem;
  
  }
  
  .history-item {
    background: #dedede;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .date-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  ion-progress-bar {
    flex: 1;
    margin: 0 10px;
  }
  