.background {
    background: linear-gradient(#24BAFE, #166F98); 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
.logo {
    max-width: 100%; 
    height: auto; 
    margin-top: 180px;
  }
.sign {
    width: 60%;
    height: 60%;
    gap : 10px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.sign-in-button, .sign-up-button {
    --background: rgb(236, 228, 228); 
    --color: #166F98; 
    --border-radius: 80px; 
    text-transform: none;
    padding: 2px;
    font-size: 18px;
}
