<ion-content [fullscreen]="true">
  <ion-card>  
    <ion-card-header>
      <ion-row>
        <a [routerLink]="['/keterangan']">
        <img src="assets/icon/arrow-left.png" alt="" ></a>
        <ion-card-title style="margin-left: 110px; margin-right: 110px;">Diagnose</ion-card-title>
        <img src="assets/icon/information.png" alt="" [routerLink]="['/keterangan']">
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-row>
            <img src="assets/icon/Diabetes.png" alt="">
            <ion-col>
              <h3>Kolesterol</h3>
              <img src="assets/icon/heart-attack (2).png" alt="">
            </ion-col> 
          </ion-row>
          <p>Hasil: 10.5 mg/dL</p>
          <p>Status: Low</p>
          <p>Normal: 12.1 - 15.1 g/dL</p>
          <p><strong>Saran:</strong> Makanan kaya zat besi dan vitamin C, hindari penghambat penyerapan zat besi, serta lakukan olahraga dan pemeriksaan rutin.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <div class="divider"></div>

    <!-- Kolesterol Section -->
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-row>
            <img src="assets/icon/Heart.png" alt="">
            <ion-col>
              <h3>Kolesterol</h3>
              <img src="assets/icon/heart-attack (1).png" alt="">
            </ion-col> 
          </ion-row>
          <p>Hasil: 10.5 mg/dL</p>
          <p>Status: Low</p>
          <p>Normal: 12.1 - 15.1 g/dL</p>
          <p><strong>Saran:</strong> Makanan kaya zat besi dan vitamin C, hindari penghambat penyerapan zat besi, serta lakukan olahraga dan pemeriksaan rutin.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <div class="divider"></div>

    <!-- Asam Urat Section -->
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-row>
            <img src="assets/icon/Arthritis.png" alt="">
            <ion-col>
              <h3>Kolesterol</h3>
              <img src="assets/icon/heart-attack.png" alt="">
            </ion-col> 
          </ion-row>
          <p>Hasil: 10.5 mg/dL</p>
          <p>Status: Low</p>
          <p>Normal: 12.1 - 15.1 g/dL</p>
          <p><strong>Saran:</strong> Makanan kaya zat besi dan vitamin C, hindari penghambat penyerapan zat besi, serta lakukan olahraga dan pemeriksaan rutin.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <div class="divider"></div>

    <!-- Hemoglobin Section -->
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-row>
            <img src="assets/icon/Red blood cells.png" alt="">
            <ion-col>
              <h3>Kolesterol</h3>
              <img src="assets/icon/heart-attack (2).png" alt="">
            </ion-col> 
          </ion-row>
          <p>Hasil: 10.5 mg/dL</p>
          <p>Status: Low</p>
          <p>Normal: 12.1 - 15.1 g/dL</p>
          <p><strong>Saran:</strong> Makanan kaya zat besi dan vitamin C, hindari penghambat penyerapan zat besi, serta lakukan olahraga dan pemeriksaan rutin.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
